# Include our LICENSE and README
include LICENSE README.rst HISTORY.rst

# Include the LICENSE for libbrotli
include libbrotli/LICENSE

# Include the needed .c and .h files
recursive-include libbrotli/c/enc *.c *.h *.cc
recursive-include libbrotli/c/dec *.c *.h *.cc
recursive-include libbrotli/c/common *.c *.h *.cc
recursive-include libbrotli/c/include *.c *.h *.cc

# Include test files
recursive-include test/ *.py
