name: CI
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Run lint
        run: |
          python -m pip install tox
          tox -e lint

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [
            ["3.8", "py38"],
            ["3.9", "py39"],
            ["3.10", "py310"],
            ["3.11", "py311"],
            ["3.12", "py312"],
            ["3.13", "py313"],
            ["3.14", "py314"],
            ["3.14t", "py314t"],
        ]
    steps:
      - name: Set git to use LF on Windows
        if: runner.os == 'Windows'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version[0] }}
          allow-prereleases: true
      - name: Run tests
        run: |
          python -m pip install tox
          tox -e ${{ matrix.python-version[1] }}

  package-sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Build source package
        run: |
          pip install build
          python -m build --sdist
      - name: Upload source package
        uses: actions/upload-artifact@v5
        with:
          name: sdist
          path: dist/

  package-wheel:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel
      # - name: Install Visual C++ for Python 2.7
      #   if: runner.os == 'Windows'
      #   run: choco install vcpython27 -f -y
      - name: Install QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: "cp38-* pp*-* cp314t-*"
          CIBW_SKIP: "*musllinux*"
          CIBW_ENABLE: pypy
          CIBW_ARCHS_LINUX: auto aarch64
          CIBW_BEFORE_BUILD_LINUX: yum install -y libffi-devel
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.wheel-tag }}
          path: ./wheelhouse/*.whl

  publish:
    runs-on: ubuntu-latest
    needs: [lint, test, package-sdist, package-wheel]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: sdist
          path: dist/
      - uses: actions/download-artifact@v6
        with:
          pattern: wheels-windows-latest-*
          path: dist/
      - uses: actions/download-artifact@v6
        with:
          pattern: wheels-macos-latest-*
          path: dist/
      - uses: actions/download-artifact@v6
        with:
          pattern: wheels-ubuntu-latest-*
          path: dist/
      - name: Publish to PyPI
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
