name: CI
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Run lint
        run: |
          python -m pip install tox
          tox -e lint

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "3.14t"]
    steps:
      - name: Set git to use LF on Windows
        if: runner.os == 'Windows'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Run tests
        run: |
          python -m pip install tox
          tox --skip-missing-interpreters

  package-sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Build source package
        run: python setup.py sdist
      - name: Upload source package
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/

  package-wheel:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - name: manylinux
          os: ubuntu-latest
        - name: macos
          os: macos-latest
        - name: win
          os: windows-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel
      # - name: Install Visual C++ for Python 2.7
      #   if: runner.os == 'Windows'
      #   run: choco install vcpython27 -f -y
      - name: Install QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Build wheels for Windows  # see issue #174
        if: runner.os == 'Windows'
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: cp310-${{ matrix.name }}* pp*-${{ matrix.name }}*

      - name: Build wheels for Linux and macOS
        if: runner.os != 'Windows'
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: cp310-${{ matrix.name }}* pp*-${{ matrix.name }}*
          CIBW_ARCHS_LINUX: auto aarch64
          CIBW_BEFORE_BUILD_LINUX: yum install -y libffi-devel
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.name }}
          path: ./wheelhouse/*.whl

  publish:
    runs-on: ubuntu-latest
    needs: [lint, test, package-sdist, package-wheel]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: sdist
          path: dist/
      - uses: actions/download-artifact@v5
        with:
          name: wheels-win
          path: dist/
      - uses: actions/download-artifact@v5
        with:
          name: wheels-macos
          path: dist/
      - uses: actions/download-artifact@v5
        with:
          name: wheels-manylinux
          path: dist/
      - name: Publish to PyPI
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
